.git
.gitignore
venv
__pycache__
*.pyc
*.pyo
*.pyd

datasets
chromadb
db
vectorstore

node_modules

.env
.env.*

*.log
.DS_Store

tests
.cache
pytest_cache
.mypy_cache
.ipynb_checkpoints

notebooks
docs

*.sqlite3
*.db

.vscode
.idea